*{
    /* margin: 0;
    padding: 0; */
    font-family: 'Kanit', sans-serif;
}
body{}

header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height:80px;
    background-color:#F2F4F1;
    box-shadow: 0px 5px 20px black;
    position:sticky;
    top: 0;
    z-index: 10;
    align-items: center;
}
header a{
text-decoration: none;
color: #171a0f;
display: flex;
align-items: center;
}  
.home {

    color:black;
    padding: 16px;
    font-size: 16px;
    margin-left:20px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover{
    background-color: #f1f1f1;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
.nav{
    display: flex;
    align-items: center;
}
.nav a:nth-child(4) img{
    margin-right: 13px;
}
#log{
    width: 25px;
    height: 25px;  
}
.logo img{
   width: 110px;
   height: 65px;  
   margin-left: 25px;
}
.nav a{
   margin:10px;
   text-decoration: none;
   margin-right: 50px;
   font-size: 15px;
}
#cart{
   width: 80px;
   height: 60px;
}
h1{
    font-size: 40px;
    color:rgb(76, 82, 67);
    text-align: center;
}
h1:hover{
    letter-spacing: 1px;
    color: red;
}

.class{
  list-style-type:circle;
 }
  
.top img{
width:300px;
height:230px;
margin-left: 100px;
border-radius: 50%;
box-shadow: 5px 5px 20px rgb(20, 2, 2);
}

#g{
  color: green;
  margin-top: 10px;
}
#grow{
  display: flex;
}
.plantquote{
  display: flex;
  margin-left: 170px;
  margin-top:20px;
  text-shadow: ;
}
.plantquote h4{
  color:rgba(8, 72, 8, 0.763);
  font-size: 70px;
  margin-right: 3px;
  text-shadow: 2px 2px 3px rgba(12, 11, 12, 0.763);
  
}
.plantquote p{
  color: rgb(118, 43, 43);
  font-size: 63px;
  margin-top: 99px;
  margin-right: 20px;
}
.center{
  display: flex;
}
#fa {
  color:#2d3b04;
  font-size:40px;
  margin-top: 90px;
}
#topcontent {
list-style-type:square;
color:rgb(69, 7, 7);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
transition: 1s;
width:90%;
margin-left: 22px;
padding: 50px;
margin-top: 30px;
border-radius: 20px 5px;

}

#topcontent:hover{
transform:scale(0.95);
transition: .8s;
box-shadow: 5px 5px 20px rgb(135, 120, 120);
background-image:linear-gradient(rgba(224, 226, 233, 0.3), rgba(219, 219, 223, 0.838));
}

#topcontent li{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
.top2 h2{
  font-size:50px;
  color:rgb(52, 79, 60);
  text-align: center;
  text-shadow: 2px 2px 3px rgb(15, 13, 13);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.require{
  width: 50%;
  height: 500px;
  text-align: center;
  background-image: linear-gradient(to bottom right,#6c957c,#c0cec8);
 padding: 10px 10px;
 transition: 1s;
 color:#0c290b;
 margin-left: 23%;
 font-size: 22px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.require:hover{
  transform:scale(0.95);
  transition: .8s;
  box-shadow: 5px 5px 20px rgb(135, 120, 120);
  color:#020005;
  border-radius: 50px;
  font-size: 19px;
 ;
}
#fai{
  width: 100px;
  height:100px;
  color:gold;
  font-size: 50px;
}
.bottom h3{
  color:rgb(52, 79, 60);
  font-size: 26px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.bottom li{
  color:#1a0d63;
  font-size: 17px;
  margin-left: 100px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
