*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height:80px;
    background-color:#F2F4F1;
    box-shadow: 0px 5px 20px black;
    position:sticky;
    top: 0;
    z-index: 10;
    align-items: center;
}
header a{
text-decoration: none;
color: #171a0f;
display: flex;
align-items: center;
}  

#shopping{
    color:blue;
    margin-top: 100px;
}

.home {

    color:black;
    padding: 16px;
    font-size: 16px;
    margin-left:20px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
.nav{
    display: flex;
    align-items: center;
}
.nav a:nth-child(4) img{
    margin-right: 13px;
}
#log{
     width: 25px;
     height: 25px;  
}
.logo img{
    width: 110px;
    height: 65px;  
    margin-left: 25px;
}
.nav a{
    margin:10px;
    text-decoration: none;
    margin-right: 50px;
    font-size: 15px;
}
#cart{
    width: 80px;
    height: 60px;
  
}

#buynow{
    padding: 8px 20px;
    margin-top: 200px;
    color:#5d963f;
    background-color:black;
    font-size: 20px;
    border-radius: 20px;
}

.content1{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/pexels-kate-trifo-3804997.jpg);
    background-size: cover;
    width:100%;
    height:800px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 200px;
    font-family: 'Kanit', sans-serif;
    color: #6f8f06;
    letter-spacing: 2px;

}
.content1 p:nth-child(1){
    font-size: 50px;
   
}
.content1 p:nth-child(2){
    font-size: 30px;
    margin-top: 60px;
}
.main2top{
    background-color:#F2F4F1;
    text-align: center;
    padding-top: 50px;
    color:#30650f;
}

.main2{
    display: flex;
    background-color:#F2F4F1;
    width:100%;
    height:1000px;
    border-radius: 20px;
    padding: 60px;
    box-sizing: border-box;
  
}
.main2top h1{
    letter-spacing: 1px;
    font-size: 34px;
    cursor: pointer;
}
.main2top h1:hover{
    letter-spacing: 3px;
    font-size: 34px;
    transition: .8s;

}
.left{
    width: 32%;
    height: 800px;
   background-image: url("../images/Offers\ in\ Plants\ Your\ Story.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   transition: 1s;
   margin-right: 50px;
   border-radius: 20px;

}
.left:hover{
    transform: scale(0.98);
    transition: .8s;

}
#new{
    color:aliceblue;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.right{
    width: 70%;
    height: 800px;
    display:flex;
    flex-wrap: wrap;
   
}
.box1 {
    height:380px;
    width:25%;
    border:2px solid white; 
    margin:0px 30px 30px 30px ;
    transition:1s ;
    color:brown;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}
.box1:hover{
transform:scale(0.95);
transition: .8s;
box-shadow: 5px 5px 20px grey;

}

.spl img{
   
    width: 20px;
    height: 30px;
}
.box1 img{
    height:230px;
    width:100%;
    margin-bottom: 10px;
    border-radius: 20px;
}
#coin{
    height:600px;
    width:100%;
    margin-top: 20px;
}
#fa{
    color:gold;
    height:40px;
   
}
#add{
    background-color: rgb(232, 229, 229);
    padding: 5px 10px;
    border-radius: 16px;
    height:400px;
    margin-top: 400px;
    color:rgb(109, 53, 7);
    font-size: 15px;
    text-decoration: none;
}

#add a{
    background-color: white;
    padding: 4px;
    border-radius: 20px;
    margin-top: 400px;
}
#add a{
    margin-top: 400px;
}
#add:hover{
    background-color: #674979;
    color: yellow;
}
footer{
    margin-top: 300px;
    padding-top: 280px;
    width:100%;
    height:200px;
    background-color:#272727;
    text-align: center;
    color: white;

}
.foot1{
  width: 60%;
  height:300px;
  background-color:#5d963f;
  border-radius: 20px;
  position: absolute;
  top: 2800px;
  left: 300px;
}
.foot2{
display: flex;
justify-content: center;
align-items: center;

}
.footernav a{
    color: white;
    padding: 5px;
    text-decoration: none;
    margin-right: 90px;
   
}

.foot2 img{
    width:100px;
}
.footernav{
    display: flex;
    flex-direction: column;
 
}
.foot1 textarea{
    width:250px;
    height: 130px;
    border-radius: 20px;
    margin:20px;
    padding:20px ;
    box-sizing: border-box;
}
.foot1 button{
    padding: 5px 10px;
}
.foot1 h1{
 margin-top: 23px;
}
.contact{
   margin-top: 20px;
    font-size: 14px;
    height:122px;
    margin-right: 60px;
}
.contact h2, .address h2{
   margin-bottom: 30px;
}
.address{

    font-size: 14px;
}
#footlogo{
    width:120px;
    height:80px;
    margin-right: 80px;
    margin-top: 20px;
}
#review{
    display: flex;
    margin-top: 200px;
}
#fai{
    font-size: 62px;
    color: rgb(200, 195, 195);
    margin-top: 30px;
  }
  #review h5{
    color:rgb(49, 56, 105);
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
  }
  #review p{
    color: rgb(59, 4, 57);
    margin-top: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
  }
  .name{
    color:#30650f;
  
  }

  