body {
    background-image: url(../images/plant.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.main {
    margin: 250px auto;
    width: 330px;
    height: 340px;
    padding-top: 100px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.login {
    width: 260px;
    height: 130px;
    background-image: linear-gradient(to bottom right, #28583a, #34a26f);
    position: absolute;
    top: 180px;
    left: 615px;
    text-align: center;
    border-radius: 10px;

}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;

}

label {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 35px 20px 2px 20px;

}

#iconlog {
    margin: 20px;
    font-size: 25px;
    cursor: pointer;


}

label img {
    width: 80px;
}

label input {
    width: 350px;
    border-width: 0px 0px 1.5px 0px;
    height: 30px;
}

#loglog {
    margin-right: 10px;
    font-size: 20px;
}

#signin {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to bottom right, #28583a, #34a26f);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    text-decoration: none;
}