*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
	box-sizing: border-box;
   

}
body{
    background-color:white;
}
header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height:80px;
    box-shadow: 0px 5px 20px black;
    position:sticky;
    top: 0;
    z-index: 10;
    align-items: center;
    background-color: white;
}
header a{
text-decoration: none;
color: #171a0f;
display: flex;
align-items: center;
}  
.nav{
    display: flex;
    align-items: center;
  
}
.nav a:nth-child(4) img{
    margin-right: 13px;
}
#log{
     width: 25px;
     height: 25px;  
}
#cart{
    width: 80px;
    height: 60px;
}
h1{
    color:rgb(38, 58, 35);
    margin-top: 100px;
    letter-spacing: 1px;
    text-align: center;
}
h1:hover{
    letter-spacing: 3px;
    font-size: 34px;
    transition: .8s;
}
.logo img{
    width: 110px;
    height: 65px;  
    margin-left: 25px;
}
.nav a{
    margin:10px;
    text-decoration: none;
    margin-right: 50px;
    font-size: 15px;
}
#fa{
    color: yellow;
}
.main{
	width:90%;
	margin: 100px 5%;

}
.product{
	display: flex;
	align-items: center;
	justify-content: center;
    background-image:linear-gradient(rgba(224, 226, 233, 0.3), rgba(219, 219, 223, 0.838));
	margin: 50px auto;
    
}
#pink{
	width:300px;
    border:2px silver;
    box-shadow:5px 10px 5px 5px solid black;
    transition: 1s;
    border-radius: 20px;
}
#pink:hover{
    transform: scale(0.95);
    transition: .8s;
}

.product1{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height:300px;
	width: 500px;
	margin: 50px;
	align-items:center;

}
.total{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
    background-color:#171a0f;
	width:50%;
	height: 200px;
	margin: 50px auto;
    padding: 30px;
	border-radius: 30px;
    color: white;
}
.total p{
	display: flex;
	justify-content: space-around;
	width: 500px;

}
.bottom{
display: flex;
}
.product-remove {
    margin-left: 30px;
    width: 150px;
    height: 40px;
    margin-bottom: 30px;
    padding: 8px;
    background-color: white;
    text-decoration: none;
    text-align: center;
    transition: 0.1s;
    color: rgb(51, 72, 34);
}
.product-remove:hover{
    background-color: #435415;
    color:rgb(246, 246, 246);
}
.product1 h3{
  font-size: 30px;
  color: rgb(51, 72, 34);
}
.product1 h4{
    font-size: 20px;
    font-weight: 700;
}
.total{
margin-top: 300px;
}
.total a{
    width: 230px;
    height: 50px;
    padding: 18px;
    background-color:#5d963f;
    text-decoration: none;
    text-align: center;
    transition: 0.1s;
    color: rgb(82, 18, 71);
}
.total a:hover{
    transform:scale(0.95);
    transition: .8s;
    color: white;
    background-color: red;
}
.product-quantity{
    width: 200px;
    height: 100px;
}

select{
    width: 150px;
    height: 40px;
    padding: 8px;
 
}
#Quantity{
  margin-right: 10px;
  color:#435415;
  font-size: 18px;
  font-weight: 600;
}
.product:hover{
    transform:scale(0.95);
    transition: .8s;
    box-shadow: 5px 5px 20px grey;
}
h3:hover{
    letter-spacing: 3px;
}
footer{
    margin-top: 500px;
    padding-top: 280px;
    width:100%;
    height:500px;
    background-color:#272727;
    text-align: center;
    color: white;

}
.foot1{
  width: 60%;
  height:300px;
  background-color:#5d963f;
  border-radius: 20px;
  position: absolute;
  top: 1650px;
  left: 300px;
}
.foot2{
display: flex;
justify-content: center;
align-items: center;

}
.footernav a{
    color: white;
    padding: 5px;
    text-decoration: none;
    margin-right: 90px;
   
}

.foot2 img{
    width:100px;
}
.footernav{
    display: flex;
    flex-direction: column;
 
}
.foot1 textarea{
    width:250px;
    height: 130px;
    border-radius: 20px;
    margin:20px;
    padding:20px ;
    box-sizing: border-box;
}
.foot1 button{
    padding: 5px 10px;
}
.foot1 h1{
 margin-top: 23px;
}
.contact{
   margin-top: 20px;
    font-size: 14px;
    height:122px;
    margin-right: 60px;
}
.contact h2, .address h2{
   margin-bottom: 30px;
}
.address{

    font-size: 14px;
}
#footlogo{
    width:120px;
    height:80px;
    margin-right: 80px;
    margin-top: 20px;
}
