*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height:80px;
    background-color:#F2F4F1;
    box-shadow: 0px 5px 20px black;
    position:sticky;
    top: 0;
    z-index: 10;
    align-items: center;
}
header a{
text-decoration: none;
color: #171a0f;
display: flex;
align-items: center;
}  
.nav{
    display: flex;
    align-items: center;
}
.nav a:nth-child(4) img{
    margin-right: 13px;
}
#log{
     width: 25px;
     height: 25px;  
}
.logo img{
    width: 110px;
    height: 65px;  
    margin-left: 25px;
}
.nav a{
    margin:10px;
    text-decoration: none;
    margin-right: 50px;
    font-size: 15px;
}
#cart{
    width: 80px;
    height: 60px;
}
.right{
    margin:100px auto;
    height: 800px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

.box1 {
    height:380px;
    width:220px;
    border:2px solid white; 
    margin:0px 30px 30px 30px ;
    transition:1s ;
    color:brown;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}
.box1:hover{
transform:scale(0.95);
transition: .8s;
box-shadow: 5px 5px 20px grey;

}

.spl img{
   
    width: 20px;
    height: 30px;
}
.box1 img{
    height:230px;
    width:100%;
    margin-bottom: 10px;
    border-radius: 20px;
}
#coin{
    height:600px;
    width:100%;
    margin-top: 20px;
}
#fa{
    color:gold;
    height:40px;
   
}
#add{
    background-color: rgb(232, 229, 229);
    padding: 5px 10px;
    border-radius: 16px;
    height:400px;
    margin-top: 400px;
    color:rgb(109, 53, 7);
    font-size: 15px;
}

#add a{
    background-color: white;
    padding: 4px;
    border-radius: 20px;
    margin-top: 400px;
}
#add a{
    margin-top: 400px;
}
footer{
    margin-top: 200px;
    padding-top: 280px;
    width:100%;
    height:200px;
    background-color:#272727;
    text-align: center;
    color: white;

}
.foot1{
  width: 60%;
  height:300px;
  background-color:#5d963f;
  border-radius: 20px;
  position: absolute;
  top: 2100px;
  left: 300px;
}
.foot2{
display: flex;
justify-content: center;
align-items: center;

}
.footernav a{
    color: white;
    padding: 5px;
    text-decoration: none;
    margin-right: 90px;
   
}
.foot1 h1{
    margin-top: 23px;
   }

.foot2 img{
    width:100px;
}
.footernav{
    display: flex;
    flex-direction: column;
 
}
.foot1 textarea{
    width:250px;
    height: 130px;
    border-radius: 20px;
    margin:20px;
    padding:20px ;
    box-sizing: border-box;
}
.foot1 button{
    padding: 5px 10px;
}
.contact{
   margin-top: 20px;
    font-size: 14px;
    height:122px;
    margin-right: 60px;
}
.contact h2, .address h2{
   margin-bottom: 30px;
}
.address{

    font-size: 14px;
}
#footlogo{
    width:120px;
    height:80px;
    margin-right: 80px;
    margin-top: 20px;
}