body {
    background-image: url(../images/plant.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

.main {
    margin: 180px auto;
    width: 450px;
    height: 450px;
    padding-top: 150px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.signup {
    width: 380px;
    height: 170px;
    position: absolute;
    top: 100px;
    left: 552px;
    text-align: center;
    background-image: linear-gradient(to bottom right, #28583a, #34a26f);
    border-radius: 10px;
    box-shadow: 6px 60px 6px 6px solid white;


}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;

}

label {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0px 16px 0px 20px;

}

#iconlog {
    margin: 20px;
    font-size: 25px;
    cursor: pointer;

}

label img {
    width: 80px;
}

label input {
    width: 350px;
    border-width: 0px 0px 1.5px 0px;
    height: 40px;
    margin-top: 30px;
}

#loglog {
    margin-right: 10px;
    font-size: 20px;
    margin-top: 30px;
}

.main a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to bottom right, #28583a, #34a26f);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    text-decoration: none;
}